{% assign split_url = page.url | split: '/' %} {% assign current_version_url_str = split_url[2] |
prepend: '/releases/' %} {% assign menu = site.menus[current_menu] %} {% if menu %} {% for item in
menu %} {% if item.sort == 'alphabetical' %} {% assign children = (item.children | sort_natural:
'title') %} {% else %} {% assign children = item.children %} {% endif %}

<div class="navGroup">
	<h3 class="navGroupCategoryTitle">{{ item.title }}</h3>
	<ul>
		{% for item in children %} {% if item.url contains current_version_url_str %}
		<li class="navListItem{% if page.url == item.url %} navListItemActive{% endif %}">
			<a class="navItem" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
		</li>
		{% endif %} {% endfor %}
	</ul>
</div>

{% endfor %} {% endif %}
